h1, p {
  font-family: Lato;
}

.board-wrapper {
  align-items: center;
  text-align: center;
}
.board {
  width: 400px;
  height: 400px;
  background: lightskyblue;
  margin: 0 auto
}
.board-top {
  height: 250px;
  padding: 25px 0;
  
}
.board-bottom {
  height: 100px
}
.bet-box { 
  height: 30px; 
  width: 30px;
  padding: 20px;
  font-size: 30px;
  font-weight: bold
}